{
  "printWidth": 145,
  "proseWrap": "preserve",
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "jsxBracketSameLine": true,
  "endOfLine": "lf"
}
